<div id="conversation-container" fxLayout="column">
  <div id="conversation-header" fxLayout="column">
      <div id="conversation-title">
        {{getConversationTitle()}}
      </div>
      <div fxFlexAlign="end" id="conversation-start-date">
        Started at : {{conversation?.dateCreation}}
      </div>
  </div>
  <mat-divider></mat-divider>
  <div #conversationBody id="conversation-body" fxFlex fxLayout="column" (scroll)="onScroll($event)">
      <div *ngFor="let msg of conversation?.messages" fxFlexAlign="{{getMessageAlign(msg)}}" >
          <message [message]="msg"></message>
      </div>
  </div>
  <div id="conversation-footer" fxLayout="column">
    <form #messageForm="ngForm"  >
            <mat-form-field fxFlex="1000%">
                <textarea matInput id="message" placeholder="Write Message" name="message-content" [(ngModel)]="newMessage.content" 
                            (focus)="onConversationFocused()"
                            #messagecontent="ngModel" (keydown.enter)="addMessage();false" minlength="1" >
                </textarea>
            </mat-form-field>
    </form>
  </div>
</div>
