#conversation-container{
    height: 100% !important;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

#conversation-header{
      height : auto;
}
#conversation-body{
    /*height : 90%; */
    max-height : 90%; 
    overflow-y : auto;
    padding-left: 4px;
    padding-right : 4px;
}
#conversation-footer{
    height : auto;
    margin: 0;
    padding: 0;
}
.mat-form-field-wrapper{
    padding: 0 !important;
    margin: 0;
}

#conversation-title{
    font-size: 30px;
}

#conversation-start-date{
    font-size: 13px;
}

