<div fxLayout="row wrap" >
    <button fxFlex.xs="100%" mat-raised-button color="primary" routerLink="/review/add" >
        <mat-icon aria-label="add new review">add</mat-icon>  
        New Review
    </button>
    <span fxFlex></span>
    <!-- Search input-->
    <input fxFlex.xs="100%" id="input-search" name="search"
            (keyup)="handleKeyup($event.target.value)"
            type="search" placeholder="Search">
    <div id="div-sort-review" fxFlex.xs="100%" fxLayout="row wrap">
            <div style="line-height : 1.9;" fxFlex="30%"><span >Sort by </span></div>
            <mat-form-field fxFlex="70%" class="simple-mat-form-field" floatLabel="never">
                <mat-select [(value)]="selectedOrder"  (selectionChange)="setOrder($event.value)">
                    <mat-option *ngFor="let item of reviewOrderItems"
                    [value]="item">{{item.label}}</mat-option>
                </mat-select>
            </mat-form-field>
    </div>
</div>
<mat-divider class="relative-devider" id="header-separatror"></mat-divider> 
<div class="review-container" fxLayout="row wrap" *ngIf="reviews" (scroll)="handleListReviewsScrolling($event)">
    <review *ngFor="let r of reviews" fxFlexOffset="1%" fxFlex="24%" 
            [review]="r" (onDeleteReview)="updateListeReviews(r)" 
            (onGoToConversationRequest)="goToConversation($event)"
            (onUpdateReviewRequest)="goToUpdateReviewPage($event)"
            fxFlex.xs="100" fxFlex.sm="45%" fxFlex.lt-md="350px">
    </review>
</div>
<div    *ngIf="!reviews || reviews.length == 0" fxLayout="row wrap" style="background-color :#d6dcfd;" 
        fxLayoutAlign="center center">
    <div fxFlex="50%" style="text-align : center">
        No Reviews
    </div>
</div>