:host{
    overflow: hidden;
    height: auto;
    max-height: 100%;
}

#header-separatror{
    margin-top: 4px;
}


#input-search{
    font: inherit;
    color: #3f51b5;
    border-radius: 6px;
    padding-left: 10px;
    border: none;
    outline: 0;
    margin: 0;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    caret-color: #3f51b5;
}
.review-container {
    height: 100%;
    max-height: 96%;
    overflow-y: auto; 
}
#div-sort-review{
    padding-left: 10px;
}