<mat-card fxFlex="100%" fxLayout="row wrap"  fxLayoutAlign="center center">
    <!-- Title -->
    <mat-card-header fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-card-title>{{formTitle}}</mat-card-title>
    </mat-card-header>
    <!-- Form -->
    <form fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center" #userForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-card-content fxFlex="80%" fxLayout="row wrap" fxLayoutAlign="center center">

            <mat-form-field fxFlex="100%" *ngIf="showName">
                <input name="name" matInput placeholder="Name" [(ngModel)]="user.name" #name="ngModel" required>
                <mat-error *ngIf="!name.valid">
                    <div *ngIf="name.errors.required">
                        Name is required.
                    </div>
                </mat-error>
            </mat-form-field>


            <mat-form-field fxFlex="100%" *ngIf="showLastname">
                <input name="lastname" matInput placeholder="Lastname" [(ngModel)]="user.lastname" #lastname="ngModel" required>
                <mat-error *ngIf="!lastname.valid">
                    <div *ngIf="lastname.errors.required">
                        Lastname is required.
                    </div>
                </mat-error>
            </mat-form-field> 
              
            <mat-form-field fxFlex="100%" *ngIf="showEmail">
              <input name="login" matInput placeholder="Email" [(ngModel)]="user.email" #login="ngModel" isEmail>
              <mat-error *ngIf="!login.valid">
                  <div *ngIf="login.errors.isEmail">
                      {{login.errors.isEmail.value}}
                  </div>
              </mat-error>
            </mat-form-field>


            <mat-form-field fxFlex="100%" *ngIf="showPhoneNumber">
                <input name="phone_number" matInput placeholder="Phone Number" [(ngModel)]="user.phoneNumber" #phone_number="ngModel">
                <mat-error *ngIf="!phone_number.valid">
                </mat-error>
            </mat-form-field>


            <mat-form-field fxFlex="100%" *ngIf="showPassword">
              <input name="password" type="password" matInput placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required>
              <mat-error *ngIf="!password.valid">
                  <div *ngIf="password.errors.required">
                      Password is required.
                  </div>
              </mat-error>
            </mat-form-field>


            <mat-form-field fxFlex="100%" *ngIf="user.password && showPasswordConfirmation">
                <input  name="password_confirmation" type="password" matInput placeholder="Password Confirmation" 
                        [(ngModel)]="passwordConfirmation" #password_confirmation="ngModel" required isEqual="{{user.password}}">
                <mat-error *ngIf="!password_confirmation.valid">
                    <div *ngIf="password_confirmation.errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="password_confirmation.errors.isEqual">
                        Check your Password Confirmation
                    </div>
                </mat-error>
            </mat-form-field>

        </mat-card-content>
        <!-- Submit -->
        <div fxFlex="80%">
            <mat-card-actions>
                <button *ngIf="userForm.form.valid && !loading" type="submit"  id="login-btn" 
                        color="primary" mat-raised-button fxFlexFill>
                    {{btnTitle}}
                </button>
                <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>
            </mat-card-actions>
        </div>
  </form>
  </mat-card>