<div fxLayout="column">
    <loading-bar id="loading-bar"></loading-bar> 
    <mat-toolbar  fxLayout="row wrap" color="primary" role="header">
            <!-- Btn toggle and title-->
            <div fxFlex fxFlexAlign.xs="center" fxFlex.xs="100%">
                    <button mat-button class="btn-menu-header" (click)="sidenav.toggle()"  >
                            <mat-icon>menu</mat-icon>
                    </button>
                    <!--App Title-->
                    <span id="app-name"  routerLink="/review">PlanetReviews</span>  
            </div>
            <div fxFlex fxFlex.xs="100%" fxLayout="row" fxFlexAlign.xs="end center">
                <!-- This fills the remaining space of the current row -->
                <span fxShow.xs="false"  fxFlex></span>
                <!-- notification button and list-->
                <notif-component ></notif-component>
                <!-- messenger notifications-->
                <messenger-notif-component></messenger-notif-component>
                <!-- another space-->
                <span  fxFlex></span>
                <!-- user menu and button-->
                <user-menu-component  ></user-menu-component> 
            </div>
    </mat-toolbar> 
</div>
<mat-sidenav-container >
    <mat-sidenav  fixedInViewport="true" [fixedTopGap]="64" 
                    #sidenav [mode]="sidNavType" [opened]="sidenaveState" class="app-sidenav">
        <!-- Sidnav Content-->
        <sidnav-content-component ></sidnav-content-component>
        <!-- End Sidnav Content-->
    </mat-sidenav>
    <!-- App container-->
    <div class="app-content" fxLayout="column">
        <router-outlet></router-outlet>
    </div>
    <!-- End App container-->
</mat-sidenav-container>
        