<!-- Page title -->
<div>
  <span page-title>Update Review</span>
  <mat-divider marginTopAndBottom="6px"></mat-divider>
</div>
<!-- Card that contain the form -->
<div >
    <mat-card>
        <form-review [forUpdate]="true" [review]="review" (onSubmitReview)="updateReview($event)"></form-review>
    </mat-card>
</div>
