<div id="messenger-container" fxLayout="row">
 <div  fxFlex="{{convListFlex}}" fxShow.xs="{{showConvList()}}" fxFlex.xs='100%'>
    <conversation-list  (onSelectConversation)="openConversation($event)" 
                         [selectedConversation]="selectedConversation"
                        [conversations]="conversations"></conversation-list>
 </div>
 <div fxFlex="{{convFlex}}" fxShow.xs="{{showConv()}}" fxFlex.xs='100%'>
      <router-outlet (activate)='onActivate()' (deactivate)='onDeactivate()'></router-outlet>
 </div>
</div>