<form #commentForm="ngForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row wrap" fxLayoutAlign="start center">
        <div fxFlex="100%">
            <mat-form-field fxFlex="100%"  >
                <mat-label>Type a comment</mat-label>
                <textarea  matInput id="content" name="content" [(ngModel)]="comment.content" 
                        #content="ngModel" minlength="1"></textarea>
                <mat-error *ngIf="!content.valid">
                    <div *ngIf="content.errors.required">
                        Type comment
                    </div>
                    <div *ngIf="content.errors.minlength">
                        Comment length should be 1 atleast.
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-divider class="relative-devider" ></mat-divider>
    </div>
    <div *ngIf="valideComment()" fxLayout="row" fxLayoutAlign="center center" >
        <button fxFlex="30%" fxFlex.xs="100%" fxFlex.ms="40%" id="btn-add-comment"
                marginTopAndBottom="10px" mat-raised-button color="primary" type="submit">
           Save
        </button>   
   </div>
</form>
