<div fxLayout="row wrap" style="background-color :#d6dcfd; height: 100%;" fxLayoutAlign="center center">
    <div fxFlex="50%" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex.md="50%" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card fxFlex="100%" fxLayout="row wrap"  fxLayoutAlign="center center">
            <!-- Title -->
            <mat-card-header fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center">
              <mat-card-title>Authentification</mat-card-title>
            </mat-card-header>
            <!-- Form -->
            <form fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <mat-card-content fxFlex="80%" fxLayout="row wrap" fxLayoutAlign="center center">
                    <mat-form-field fxFlex="100%">
                      <input name="login" matInput placeholder="Login" [(ngModel)]="user.email" #login="ngModel" required>
                      <mat-error *ngIf="!login.valid">
                          <div *ngIf="login.errors.required">
                              Login is required.
                          </div>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                      <input name="password" type="password" matInput placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required>
                      <mat-error *ngIf="!password.valid">
                          <div *ngIf="password.errors.required">
                              Password is required.
                          </div>
                      </mat-error>
                    </mat-form-field>
                </mat-card-content>
                <!-- Submit -->
                <mat-card-actions fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center">
                  <button type="submit" *ngIf="loginForm.form.valid && !loading" id="login-btn" color="primary" mat-raised-button>Login</button>
                  <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>
                </mat-card-actions>
          </form>
          </mat-card>
    </div>
    <span fxFlex="1px"></span>
    <div marginTopAndBottom="10px" fxFlex="50%"  fxFlex.xs="90%" fxFlex.sm="70%" fxFlex.md="50%" fxLayout="row wrap" fxLayoutAlign="center center">
      <mat-card fxFlex="100%" fxLayoutAlign="center center">
        <button (click)="goToCreateAccountPage()" mat-button>Create Account</button>
      </mat-card>
    </div>
</div>

