<form #reviewForm="ngForm" (ngSubmit)="onSubmit()">
<div *ngIf="isImageReady()" fxLayout="row wrap" fxLayoutAlign="center center" >
    <div fxFlex="50%" fxLayout="row wrap" fxLayoutAlign="center center" >
            <img id="form-img" name="review_img" src="{{ getImageSrc()}}"  mat-card-image>
    </div>
</div>    
<div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <!-- Title -->
    <mat-form-field fxFlex="25%"  fxFlex.xs="100%">
        <mat-label>{{formMetadata.fields.title.label}}</mat-label>
        <input  matInput id="title" name="title" [(ngModel)]="review.title" 
                #title="ngModel" required minlength="{{formMetadata.fields.title.minlength}}">
        <mat-error *ngIf="!title.valid">
            <div *ngIf="title.errors.required">
                {{formMetadata.fields.title.errors.required}}
            </div>
            <div *ngIf="title.errors.minlength">
                {{formMetadata.fields.title.errors.minlength}}
            </div>
        </mat-error>
    </mat-form-field>
    <!-- Link -->
    <mat-form-field fxFlex="25%"  fxFlex.xs="100%">
        <mat-label>{{formMetadata.fields.link.label}}</mat-label>
        <span matPrefix>https://</span>
        <input  matInput id="link" name="link" [(ngModel)]="review.link" #link="ngModel" required isLink>
        <mat-error *ngIf="!link.valid">
            <div *ngIf="link.errors.required">
                {{formMetadata.fields.link.errors.required}}
            </div>
            <div *ngIf="link.errors.isLink">
                <!--Show default error message of validator-->
                {{formMetadata.fields.link.errors.isLink}}
            </div>
        </mat-error>
    </mat-form-field>
    <!-- Description -->
    <mat-form-field fxFlex="40%" fxFlex.xs="100%">
        <mat-label>{{formMetadata.fields.desc.label}}</mat-label>
        <textarea   matInput id="desc" name="desc" [(ngModel)]="review.description" 
                    #desc="ngModel" required minlength="{{formMetadata.fields.desc.minlength}}" 
                    maxlength="{{formMetadata.fields.desc.maxlength}}"></textarea>
        <mat-error *ngIf="!desc.valid">
            <div *ngIf="desc.errors.required">
                 {{formMetadata.fields.desc.errors.required}}
            </div>
            <div *ngIf="desc.errors.minlength">
                 {{formMetadata.fields.desc.errors.minlength}}
            </div>
            <div *ngIf="desc.errors.maxlenngth">
                 {{formMetadata.fields.desc.errors.maxlength}}
            </div>
        </mat-error>
    </mat-form-field>
    <!-- Photo -->
    <div fxFlex="50%">
      <mat-label>Select Photo : </mat-label>
      <button type="button"  mat-fab color="accent" (click)="fileInput.click()">
          <mat-icon>add_a_photo</mat-icon>
          <input required  id="photo" name="photo" #fileInput type="file" (change)="onFileInput($event.target.files)" 
                  style="display:none;" />
      </button>
    </div>
</div>
<div>
    <mat-divider marginTopAndBottom="5px"></mat-divider>
    <br/>
</div>
<!-- Paragraphs section -->
<div fxLayout="row wrap" fxLayoutAlign="end start">
        <!-- Add New Paragraph -->
        <button type="button" mat-raised-button color="primary" (click)="addItem()"> <mat-icon aria-label="Add item">add</mat-icon>
            {{formMetadata.btnAddKey}}
        </button>
        <span fxFlex="2px"></span>
        <!-- delete All Paragraphs -->
        <button type="button" mat-raised-button color="primary" (click)="deleteAll()"> <mat-icon aria-label="Delete all">delete</mat-icon>
            {{formMetadata.btnDeleteAllKeys}}
        </button>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start start" id="key-values-title">
    <span fxFlexAlign="start">Paragraphs :</span>
</div>
<div *ngFor="let i of review.items;trackBy:indexTracker;let ind=index" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <!-- Paragraph title -->
    <mat-form-field fxFlex="40%"  fxFlex.xs="100%">
        <mat-label>{{formMetadata.fields.key.label}}</mat-label>
        <input id="key{{ind}}" name="key{{ind}}" matInput [(ngModel)]="i.key" #key="ngModel" 
                required minlength="{{formMetadata.fields.key.minlength}}"
                maxlength="{{formMetadata.fields.key.maxlength}}">
        <mat-error *ngIf="!key.valid">
            <div *ngIf="key.errors.required">
                {{formMetadata.fields.key.errors.required}}
            </div>
            <div *ngIf="key.errors.minlength">
                {{formMetadata.fields.key.errors.minlength}}
            </div>
            <div *ngIf="key.errors.maxlength">
                {{formMetadata.fields.key.errors.maxlength}}
            </div>
        </mat-error>
    </mat-form-field>
    <!-- Paragraph -->
    <mat-form-field fxFlex="40%"  fxFlex.xs="100%">
        <mat-label>{{formMetadata.fields.value.label}}</mat-label>
        <textarea   id="values{{ind}}" name="values{{ind}}" matInput 
                    [(ngModel)]="i.values" #values="ngModel" 
                    required maxlength="{{formMetadata.fields.value.maxlength}}"
                    minlength="{{formMetadata.fields.value.minlength}}">
        </textarea>
        <mat-error *ngIf="!values.valid">
            <div *ngIf="values.errors.required">
                {{formMetadata.fields.value.errors.required}}
            </div>
            <div *ngIf="values.errors.minlength">
                {{formMetadata.fields.value.errors.minlength}}
            </div>
            <div *ngIf="values.errors.maxlength">
                {{formMetadata.fields.value.errors.maxlength}}
            </div>
        </mat-error>
    </mat-form-field>
    <span fxFlex.xs="85%"></span>
    <!-- Button to delete the paragraph -->
    <button  fxFlex="1%" fxFlex.xs="14%" (click)="deleteItem(i)" mat-icon-button>
        <mat-icon aria-label="Delete item">delete</mat-icon>
    </button>
    <mat-divider  [inset]="true"></mat-divider>
</div>
<div fxLayout="row" fxLayoutAlign="center center" >
     <button [disabled]="!reviewForm.form.valid" fxFlex="20%" marginTopAndBottom="10px" mat-raised-button color="primary" type="submit">
        {{formMetadata.btnTitle}}
     </button>   
</div>
</form>