#key-values-title{
  margin-bottom: 15px;  
}

#key-values-title span{
    font-size: 25px;
}

@media(max-width : 600px){
    #key-values-title{
        margin-top: 15px;  
    }   
}

#form-img{
    max-height : 350px; 
    max-width : 350px;
}