.review-details-title{
    font-size : 30px;
}

.review-details-paragraph-title{
    font-size : 23px;
}

#review-img{
  max-width: 100%;
}

.section-title {
  font-size: 24px;
  color: #3f51b5;
}