<div fxLayout="row" fxLayoutAlign="space-between center">
  <div>
      <button mat-raised-button color="primary" (click)="goBack()">
        <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>  
        Back
      </button>
  </div>
  <span fxFlex></span>
  <div (click)="refresh()">
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
<mat-card marginTopAndBottom="5px">
<div fxLayout="row wrap" fxLayoutAlign="space-between start">
  <!-- Image-->  
  <div fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="100%"  fxLayoutAlign="center center">
    <div fxFlex.sm="80%" fxLayout="row wrap" fxLayoutAlign="center center" marginTopAndBottom="5px">
        <img id="review-img" src="{{ assetsPath + 'images/'+ review.image.name}}"  alt="{{review.image.desc}}">
    </div>    
  </div>
  <!-- title, link and description-->
  <div  fxFlex="60%" fxFlex.xs="100%">
      <div  fxLayout="row wrap" fxLayoutAlign="start start">
          <div fxFlex="100%">
              <mat-divider class="relative-devider" ></mat-divider>
          </div>
          <div marginTopAndBottom="10px" class="review-details-title" fxFlex="100%">
            {{review.title}}
          </div>
          <div fxFlex="100%">
              <mat-divider class="relative-devider" ></mat-divider>
          </div>
          <div marginTopAndBottom="5px">
              Web Site : <a href="https://{{review.link}}">{{review.link}}</a>
          </div>
          <div fxFlex="100%">
              {{review.description}}
          </div>
      </div>
  </div>
</div>
<!-- Paragraphs -->
<div fxLayout="row wrap" fxLayoutAlign="space-between start">
    <div marginTopAndBottom="20px" fxFlex="100%">
        <mat-divider class="relative-devider"></mat-divider>
    </div>
    <div *ngFor="let i of review.items" fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start center">
        <div class="review-details-paragraph-title" fxFlex.xs="100%" fxFlex="100%">
            {{i.key}} : 
        </div>
        <div fxFlex.xs="100%" fxFlex="100%">
            {{i.values}}
        </div>
        <div marginTopAndBottom="10px" fxFlex.xs="100%" fxFlex="100%">
            <mat-divider class="relative-devider"></mat-divider>
        </div>
    </div>
    <!-- Comments -->
    <div fxFlex="100%" fxLayout="row wrap">
        <div fxLayout="row" marginTopAndBottom="5px">
            <span class="section-title">Users Reviews :</span>
        </div>
        <comment    fxFlex="100%" *ngFor="let c of review.comments" [comment]="c" 
                    (onDeleteComment)="deleteComment($event)" (onUpdateComment)="updateComment($event)"> 
        </comment>
        <comment-form fxFlex="100%" (onSubmitComment)="addComment($event)"></comment-form>
    </div>
     <!-- End Comments -->
     <div fxFlex="100%" fxLayout="row wrap">
        <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row" fxLayoutAlign="start center">
            Owner :  <user-info [user]="review.user"></user-info>
        </div>
        <!-- CreatedOn-->
        <div fxFlex="50%" fxFlex.xs="100%" fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="start center">
            Created on : {{review.dateCreation}} 
        </div>
     </div>
</div>
</mat-card>