<mat-list-item [ngClass]="getNgClass()" class="notification-item" fxLayout="row" 
              fxLayoutAlign="space-between center" (click)="sendClickedNotification()">
  <div fxLayout="row" fxLayoutAlign="space-between center" >
    <div fxFlex="10%" fxLayout="column" fxLayoutAlign="center center">
        <div>
            <mat-icon color="primary" class="notification-icon">{{notification.getIcon()}}</mat-icon>
        </div>
    </div>
    <div fxFlex="86%" fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div fxFlex="100%" class="notification-title">{{notification.getTitle()}}</div>
      <div fxFlex="100%" class="notification-desc">{{notification.getDesc()}}</div>
      <div fxFlex="100%" fxLayout="row" fxLayoutAlign="end center">
          <div class="notification-date">
              {{notification.getDate()}}
          </div>
      </div>
    </div>
  </div>
  <mat-divider matginTopAndBottom="5px"></mat-divider> 
</mat-list-item>