.notification-title{
    font-size: 16px;
}

.notification-desc{
   font-size: 13px;
}
.notification-date{
    font-size: 11px; 
}

.notification-item:hover{
  background-color: #e8eaf8;
}

.new-notification {
  background-color: #e8eaf8;
}
mat-list-item{
  cursor: pointer;
  height: auto !important;
  min-height: 60px;
}