<div class="message-div" fxLayout="row">
  <mat-chip-list>
    <mat-chip [color]="color" selected>
      {{message?.content}}
    </mat-chip>
    <span style="font-size : 10px;display: block"> {{getMessageHour()}}</span>
  </mat-chip-list>
</div>