<button mat-button matTooltip="New Messages" (click)="goToMessenger()">
  <mat-icon [matBadge]="getNbNewMessages()" [matBadgeHidden]="getNbNewMessages() == 0" 
            [matBadgeColor]="getColor()">email</mat-icon>
</button>