.review{
    margin-top: 5px !important;
}
#action-review{
    padding-right: 0px;
    margin-right: 0px;
    margin: 0;
    padding: 0;
    min-width: 25px;
    height: 25px;
    line-height: 0;
}

.button-menu-setting-review{
    padding-top: 0px;
    padding-bottom: 8px;
    line-height: 35px;
    height: 35px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#review_owner_div{
    font-size: 13px;
}

#review-img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

#img-div{
    width: 100%;
    min-height: 300px;
    height: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.review mat-card-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}