<div class="review">
    <mat-card>
        <!-- review header-->
        <mat-card-header fxLayout="row wrap" fxLayoutAlign="start start">
            <div fxFlex="100%">
                <mat-card-title>
                    {{review?.title}}
                </mat-card-title>
                <span fxFlex></span>
                <!-- Btn actions-->
                <button id="action-review" mat-button matTooltip="Setting" [matMenuTriggerFor]="menuSettingReview">
                    <mat-icon >more_vert</mat-icon>
                </button>
            </div>
            <div fxFlex="100%">
                <!-- subtitle-->
                <div id="review_owner_div" fxLayoutAlign="end start">
                    <user-info [user]="review?.user"></user-info>
                </div>
            </div>
            <div>
                <!-- Owner-->
                <mat-card-subtitle fxFlex="100%">
                    <a target="_blank" href="https://{{review?.link}}">{{review.link}}</a>
                </mat-card-subtitle>
            </div>
        </mat-card-header>
        <div id="img-div">
            <!-- image -->
            <img src="{{getImageSrc()}}" id="review-img" alt="{{review?.image?.desc}}"  mat-card-image>
        </div>
        <!-- Content -->
        <mat-card-content>
            <p>
                {{review.description}}
            </p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
            <a fxFlex="95%" mat-raised-button color="primary" routerLink="/review/{{review?.id}}" >Read</a>
        </mat-card-actions> 
    </mat-card>
</div>







<!-- Menu setting review-->
<mat-menu class="menu-setting-review" #menuSettingReview="matMenu">
    <div *ngIf="isReviewOfLoggedUser">
        <mat-divider></mat-divider>
        <button class="button-menu-setting-review" (click)="sendUpdateReviewRequest()" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>    
    </div>
    <div *ngIf="isReviewOfLoggedUser">
        <mat-divider></mat-divider>    
        <button class="button-menu-setting-review" mat-menu-item (click)="openDeleteDialog()">
            <mat-icon>delete</mat-icon>
            <span>Del</span>
        </button>
    </div>
    <div *ngIf="!isReviewOfLoggedUser && !subscription">
        <mat-divider></mat-divider>       
        <button class="button-menu-setting-review" (click)="subscribe()" mat-menu-item>
            <mat-icon>touch_app</mat-icon>
            <span>Subscribe</span>
        </button>
    </div>
    <div *ngIf="!isReviewOfLoggedUser && subscription">
        <mat-divider></mat-divider>       
        <button class="button-menu-setting-review" (click)="unsubscribe()" mat-menu-item>
            <mat-icon>unsubscribe</mat-icon>
            <span>UnSubscribe</span>
        </button>
    </div>
    <div (click)="goToConversation()" *ngIf="!isReviewOfLoggedUser">
        <mat-divider></mat-divider>
        <button class="button-menu-setting-review" mat-menu-item>
            <mat-icon>sms</mat-icon>
            <span>Ask Owner</span>
        </button>
    </div>
    <mat-divider></mat-divider>
    <button class="button-menu-setting-review" (click)="getURL()" mat-menu-item>
        <mat-icon>file_copy</mat-icon>
        <span>Get URL</span>
    </button>

</mat-menu>