  .example-space {
    flex: 1 1 auto;
    text-align: center;
  }
  
  app-root, mat-sidenav-container {
    box-sizing: border-box;
    height: calc(100% - 64px);
    width: 100% !important;
    margin: 0;
    overflow: hidden;
    font-family: 'GoogleSans-Regular' !important;
  }
  .app-content {
    height: 100%;
    max-height: 100%;
    width: calc(100% - 5px) !important;
    margin: 0;
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'GoogleSans-Regular' !important;
    overflow: hidden;
  }
  
  mat-toolbar {
    height: 64px;
    position: relative;
    z-index: 100;
  }

  
  @media (min-width: 200px) and (max-width: 600px) {
    mat-sidenav {
      width: 35%;
    }
    .btn-menu-header{
      line-height: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .btn-menu-header.mat-button {
      min-width: 30px;
      padding: 0px;
    }
  
    mat-sidenav {
      width: 18%;
    }
  }

  @media (min-width: 1500px) {
    .btn-menu-header.mat-button {
      min-width: 30px;
      padding: 0px;
    }
  
    mat-sidenav {
      width: 15%;
    }
  }
  .btn-menu-header mat-icon {
    vertical-align: text-bottom;
  }
