<h2 mat-dialog-title>{{data.getDialogTitle()}}</h2>
<mat-dialog-content>
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row">
          <div>Name : </div>
          <div> {{user?.name}}</div>
      </div>
      <div fxLayout="row">
        <div>Lastname : </div>
        <div> {{user?.lastname}}</div>
      </div>
      <div fxLayout="row">
        <div>Email : </div>
        <div> {{user?.email}}</div>
      </div>
      <div fxLayout="row">
          <div>Phone number : </div>
          <div> {{user?.phoneNumber}}</div>
      </div>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="!isLoggedUser()" fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button (click)="goToMessenger()">
          <mat-icon aria-label="contact user">sms</mat-icon>
      </button>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="false">{{data.btnCancelTitle}}</button>
  <button mat-button color="warn" [mat-dialog-close]="true">{{data.btnConfirmTitle}}</button>
</mat-dialog-actions>