.comment-card {
    box-shadow: 0 0px 1px -1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.12);
    border-radius: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0;
}

.comment-card mat-card-title {
    margin-bottom: 3px;
    font-size: 16px;
}
.comment-card mat-card-subtitle {
    font-size: 12px;
    margin-bottom: 3px;
}

.mat-card-header-text {
    margin: 0 2px !important;
}
.btn-comment-setting{
    font-size: 23px;
    line-height: 20px;
}

.div-comment-setting button{
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.comment-menu .mat-menu-content:not(:empty) {
    padding-bottom: 0px;
}

.mat-menu-item {
    line-height: 30px;
    height: 30px;
    padding: 0 5px;
}

.mat-menu-item .mat-icon {
    margin-right: 5px;
}

::ng-deep .comment-menu {
    min-width: 20px !important;
}       

::ng-deep .mat-card-header-text{
    display: none;
}

.user-info-luncher {
    font-size: 11px !important;
}

mat-card-content {
    font-size: 12px;
}