

<mat-card class="comment-card" marginTopAndBottom="1px">
    <mat-card-header fxLayout="row">
      <div>
        <mat-card-title>
          <user-info [user]="comment.owner"></user-info>
        </mat-card-title>
        <mat-card-subtitle>{{comment?.dateCreation}}</mat-card-subtitle>
      </div>  
      <span fxFlex></span>
      <div *ngIf="isCommentOwner()" class="div-comment-setting">
        <button class="btn-show-comment-menu" color="primary" mat-icon-button matTooltip="Setting" [matMenuTriggerFor]="menuSettingComment">
            <mat-icon class="btn-comment-setting" aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content  >
        {{comment?.content}}
    </mat-card-content>
</mat-card>


<!-- Menu setting review-->
<mat-menu class="comment-menu" #menuSettingComment="matMenu">
        <mat-divider></mat-divider>
        <button (click)="sendCommentToUpdate()" mat-menu-item>
            <mat-icon>edit</mat-icon>
        </button> 
        <mat-divider></mat-divider>
        <button (click)="sendCommentToDelete()" mat-menu-item>
            <mat-icon>delete</mat-icon>
        </button> 
        <mat-divider></mat-divider>        
</mat-menu>