<h2 mat-dialog-title>{{data.getDialogTitle()}}</h2>
<mat-dialog-content>
    <comment-form [comment]="comment" (onSubmitComment)="updateComment($event)">

    </comment-form>
</mat-dialog-content>