<mat-list id="conv-list" role="list">
  <mat-list-item class="" [ngStyle]="getNgStyle(conv)" (click)="selectConversation(conv)" fxLayout="row wrap"
                *ngFor="let conv of conversations" role="listitem">
        <h3 class="item-title" mat-line>{{getConvItemTitle(conv)}}</h3>
        <p class="item-sub-title" mat-line> {{getConvItemSubtitle(conv)}}</p>
        <p class="item-sub-title" mat-line> {{getConvItemDate(conv)}}</p>
        <div *ngIf="showNewMessagesIcon(conv);">
            <button mat-button matTooltip="New Messages">
                <mat-icon [matBadge]="conv.countNewMessages" [matBadgeColor]="accent">email</mat-icon>
              </button>
        </div>
        <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item *ngIf="!conversations || conversations.length == 0">
    <h3 class="item-title" mat-line>You don't have any Conv</h3>
  </mat-list-item>
</mat-list>