mat-list-item {
  height: 60px !important;
  cursor: pointer;
}

mat-list-item .item-title {
  font-size: 17px;
}
mat-list-item .item-sub-title {
  font-size: 13px !important;
}

#conv-list {
  padding:  0;
}
:host /deep/ .mat-list-item-content {
  width: 100% !important;
}