<!-- user menu button-->
<button mat-button [matMenuTriggerFor]="appMenu" class="btn-menu-header" matTooltip="Select action">
  <mat-icon >account_circle</mat-icon>
  <mat-icon >more_vert</mat-icon>
</button>
<!-- user menu -->
<mat-menu #appMenu="matMenu">
  <button mat-menu-item  (click)="editInfos()">
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
  </button>
  <button mat-menu-item  (click)="changeCredential()">
      <mat-icon>lock</mat-icon>
      <span>Change credential</span>
  </button>
  <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
  </button>
</mat-menu>