<h2 mat-dialog-title>{{data.getDialogTitle()}}</h2>
<mat-dialog-content>
    {{data.getMessage()}}
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="false">{{data.btnCancelTitle}}</button>
  <button mat-button color="warn" [mat-dialog-close]="true">{{data.btnConfirmTitle}}</button>
</mat-dialog-actions>