<!-- notifications icon -->
<button mat-button [matMenuTriggerFor]="notifMenu"  matTooltip="Notifications">
  <mat-icon [matBadge]="getNbNewNotification()" [matBadgeHidden]="getNbNewNotification() == 0"
            [matBadgeColor]="getColor()">notifications</mat-icon>
</button>
<!-- notifications menu -->
<mat-menu  class="notification-menu" #notifMenu="matMenu">
  <!-- List Notifications -->
  <mat-list *ngIf="notifications?.length > 0" fxLayout="column">
      <mat-divider fxFlex="100%"></mat-divider>
          <app-notification (onNotificationClick)="handleNotificationClick($event)"
              [notification]="n" *ngFor="let n of notifications" fxFlex="100%">
          </app-notification>
  </mat-list>
  <!-- No notifications DIV -->
  <div *ngIf="notifications?.length == 0" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-divider fxFlex="100%"></mat-divider>
    <div style="text-align : center" fxFlex="100%">
        No Notifications
    </div>
    <mat-divider fxFlex="100%"></mat-divider>
  </div>
</mat-menu>