
::ng-deep .notification-menu{
    min-width: 150px !important;
    max-width: 500px !important;
    width: 400px!important;
}

mat-list-item{
    cursor: pointer;
    height: auto !important;
    min-height: 60px;
}


.notification-item:hover{
    background-color: #e8eaf8;
}