<div fxLayout="row wrap" style="background-color :#d6dcfd; height: 100%;" fxLayoutAlign="center center">
    <div fxFlex="50%" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex.md="50%" fxLayout="row wrap" fxLayoutAlign="center center">
        <user-account-form  (userReady)="createAccount($event)" 
                            fxFlex="100%" fxLayout="row wrap"  fxLayoutAlign="center center">
        </user-account-form>
    </div>
</div>