<!-- Page title -->
<div>
  <span page-title>New review</span>
  <mat-divider marginTopAndBottom="6px"></mat-divider>
</div>
<!-- Card that contain the form -->
<div >
    <mat-card>
        <form-review (onSubmitReview)="addReview($event)" [imageReady]="imageReady" ></form-review>
    </mat-card>
</div>

