/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: GoogleSans-Regular;
    src: url(assets/fonts/GoogleSans-Regular.ttf) format("opentype");
}

@font-face {
    font-family: GoogleSans-Medium;
    src: url(assets/fonts/GoogleSans-Medium.ttf) format("opentype");
}

html, body { height: 100%;margin: 0; padding: 0; }

*:not(mat-icon) {
    font-family: 'GoogleSans-Regular' !important 
}

.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
    font-size: 16px;
    font-weight: normal;
}

.relative-devider{
    position : relative !important;
}

.simple-mat-form-field .mat-form-field-appearance-legacy .mat-form-field-wrapper {
   padding: 0;
}


.simple-mat-form-field .mat-form-field-wrapper {
    padding: 0;
}

.simple-mat-form-field .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0;
}

.simple-mat-form-field .mat-form-field-infix {
     border-top: 0;
}

.simple-mat-form-field .mat-form-field-underline {
    display: none;
}
body{
    overflow-x: hidden;
}