<div id="component-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <user-account-form  fxFlex="50%" fxFlex.xs="90%" fxFlex.sm="70%" fxFlex.md="50%" fxLayout="row wrap" 
                        [user]="user" #userFormComponent
                        fxLayoutAlign="center center" (userReady)="changeCredential($event)">
    </user-account-form>
</div>